.back-button {
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(55, 54, 54);
  }
  a {
    font-size: 20px;
    margin-right: 5px;
    margin-left: 5px;
  }
  button {
    cursor: pointer;
  }
  .next-button {
    padding: 10px 10px 10px 10px;
    font-weight: bold;
    font-size: 15px;
    color: rgb(55, 54, 54);
  }
  .back-and-next-buttons-div {
    border: 1px solid black;
    padding: 10px 0px 10px 10px;
    margin: 0 30px 30px 0;
    width: 250px;
  }
  .stretch-button {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    transition: padding 1s;
  }
  .stretch-button:hover {
    padding: 30px 30px 30px 30px;
  }
  .shadow-button {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    transition: box-shadow 0.15s, margin 0.15s;
    margin-bottom: 50px;
  }
  .shadow-button:hover {
    box-shadow: 3px 3px 3px gray;
  }
  .shadow-button:active {
    box-shadow: 0 0 0;
    margin: 5px 0 45px 5px;
  }
  .one-two-three-buttons-div {
    border: 1px solid black;
    padding: 10px 10px 10px 10px;
  }
  .one-button {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    margin-right: 14px;
    transition: margin 0.15s, padding 0.15s;
  }
  .one-button:hover {
    padding: 10px 17px 10px 17px;
    margin-right: 0;
  }
  .two-button {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    margin-right: 14px;
    margin-left: 14px;
    transition: margin 0.15s, padding 0.15s;
  }
  .two-button:hover {
    padding: 10px 17px 10px 17px;
    margin-right: 0;
    margin-left: 14px;
  }
  .three-button {
    background-color: green;
    color: white;
    font-weight: bold;
    font-size: 15px;
    padding: 10px 10px 10px 10px;
    margin-left: 14px;
    transition: margin 0.15s, padding 0.15s;
  }
  .three-button:hover {
    padding: 10px 20px 10px 20px;
    margin-right: 10px;
    margin-left: 0;
  }